
h1 {
  height: 200px;
  background-color: LightGray;
}

footer {
  clear: both;
  bottom: 0;
}

* {
  box-sizing: border-box;

  /* Make the invisible visible */
  border: thin red solid;
}

.sectionstack {
  width: 33%;
  float: left;
}

.sectionstack_rightalign {
  width: 33%;
  float: right;
}

.button {
  background-color: blue;
  color: white;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
}

a:link {
color: white;
text-decoration: none;
}

.screenshot {
  width: 66%;
  float: left;
}

.testimonialgroup {
  clear: both;
}

.testimonial {
  width: 25%;
  float: left;
}

.subsection {
  height: 423px;
  float: left;
}
